extends layout

block content
  script(src="/javascripts/main.js") 
  #container.container
    h1= title  
    h2 What time do you want to book?
    .row.py-3
      .col.col-auto.col-md-6.col-sm-12
        button#btnConfirmId(onclick='functionBtnConfirm()' class='btn btn-primary mx-3' disabled) Confirm
      .col.col-auto.col-md-6.col-sm-12
        button#btnCancelId(onclick='functionBtnCancel()' class='btn btn-primary mx-3' disabled) Cancel
    .row.py-3
      .col.col-auto.col-md-6.col-sm-12
        button#btnPreviousWeekId(onclick='functionBtnPreviousWeek()' class='btn btn-primary mx-3' disabled) Previous Week
      .col.col-auto.col-md-6.col-sm-12
        button#btnNextWeekId(onclick='functionBtnNextWeek()' class='btn btn-primary mx-3') Next Week
    .row.py-3
      .col.col-auto.col-md-6.col-sm-12
        a(href="/showBooking") Show Booking
      .col.col-auto.col-md-6.col-sm-12
        button#btnSignOutId(onclick='functionBtnSignOut()' class='btn btn-primary mx-2') Signout
  #divBook.container-fluid