extends layout

block content
  script(src="/javascripts/main.js") 
  #container.container
    h1.text-center= title  
    h3.text-center First find which time in what week you want to book then press confirm!
    .row.py-3
      .col
        button#btnConfirmId(onclick='functionBtnConfirm()' class='btn btn-primary mx-3 my-2' disabled) Confirm
      .col
        button#btnCancelId(onclick='functionBtnCancel()' class='btn btn-primary mx-3 my-2' disabled) Cancel
    .row.py-3
      .col
        button#btnPreviousWeekId(onclick='functionBtnPreviousWeek()' class='btn btn-primary mx-3 my-2' disabled) Previous Week
      .col
        button#btnNextWeekId(onclick='functionBtnNextWeek()' class='btn btn-primary mx-3 my-2') Next Week
    .row.py-3
      .col
        button(href="/showBooking" class='btn btn-primary mx-2 my-2') Show Booking
      .col
        button#btnSignOutId(onclick='functionBtnSignOut()' class='btn btn-primary mx-2 my-2') Signout
  #divBook.container