extends layout

block content
  script(src="/javascripts/main.js") 
  h1= title
  p Welcome to #{title}
  #container
    h2 What time do you want to book?
    button#btnConfirmId(onclick='functionBtnConfirm()' disabled) Confirm
    button#btnCancelId(onclick='functionBtnCancel()' disabled) Cancel
    br
    br
    a(href="/showBooking") Show Booking    
    button#btnSignOutId(onclick='functionBtnSignOut()') Signout
    #calendar

